body {
font-family:Arial, san-serif;
color:#fff;
line-height:1em;
font-size:15px;
overflow:hidden
}

strong {
font-weight:bold
}

/* panes */

.pane {;
  width:630px;
  height:405px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  margin:0 0 50px 0
}

/* tabs */

#tabs {
display:block
}

#question.pane, #coupon.pane, #fail.pane{
    display:none;
}


#tabs li {
background:#d3d3d3;
color:#666;
float:left;
width:150px;
padding:10px 0;
display:block;
margin:0 15px 0 0;
text-align:center;
font-weight:bold;
box-shadow: 10px 0px #666;
-webkit-box-shadow: 10px 0px #666;
-moz-box-shadow: 10px 0px #666;
border-radius: 10px;
-moz-border-radius: 10px;
border-bottom-left-radius: 0;
-moz-border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
-moz-border-bottom-right-radius: 0;
}

#tabs li.current {
color:#fff;
}

/* video */

#video .player {
width:560px;
height:315px;
float:left;
margin:35px 35px 20px 35px;
box-shadow: 3px 3px 7px #333;
-webkit-box-shadow: 3px 3px 7px #333;
-moz-box-shadow: 3px 3px 7px #333;
}

#video .fb-like {
width:60px;
float:left;
margin:0 0 0 35px
}

#video h3 {
text-align:right;
margin: 0 35px 0 0;
}

#video h3 span {
font-weight:bold;
font-size:20px;
}

/* pytanie */

#question  .btn {
background:#ff7f00;
}

#question .btn:hover {
background:#E73C00
}

/* wygrana */

#coupon p {
text-align:center;
line-height:1.5em
}

#coupon .btn {
background: #00bf00;
margin-top:20px;
font-size:20px;
font-weight:bold
}

#coupon .btn:hover {
background:#039b03
}

#coupon form {
text-align:center;
margin:30px 0 0 0
}

#coupon input.string {
border:1px solid #666;
padding:10px;
font-size:16px;
color:#666;
width:300px;
text-align:center;
float:left;
margin:0 5px 0 50px
}

#coupon input.button {
font-size:16px;
width:200px;
background: #00bf00;
margin-top:5px;
font-weight:bold;
display:block;
text-align:center;
padding:10px;
border-radius: 10px;
color:#fff;
text-decoration:none;
box-shadow:1px 1px #333;
float:left;
margin:0
}

/* przyciski */

.btn {
display:block;
margin:5px 20%;
float:left;
width:60%;
text-align:center;
padding:10px;
border-radius: 10px;
color:#fff;
text-decoration:none;
box-shadow:1px 1px #333
}

/* naglowki */

h2 {
text-align:center;
font-size: 28px;
font-weight:bold;
margin:60px auto 30px;
display:block;
float:left;
width:100%;
letter-spacing:1px;
line-height:1.2em;
text-shadow:1px 1px #333
}

/* share */

.share h3 {
text-align:center;
margin:0 auto 20px;
display:block;
float:left;
width:100%
}

.share .fb-like {
width:60px;
margin:0 auto;
display:block
}

.share.fb-page .fb-like {
width:450px
}

/* fixed height */

#question_content, .looser_content, .fail_content {
height:320px;
}

.reward_content {
height:280px;
}

/* clear */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* default colors */

body {
color:#fff
}

.pane, #tabs li.current {
background:#0c84b0;
}

.pane {
box-shadow: 5px 5px 0 5px #0e5877;
-webkit-box-shadow: 5px 5px 0 5px #0e5877;
-moz-box-shadow: 5px 5px 0 5px #0e5877;
}

#tabs li.current {
box-shadow: 10px 0px #0e5877;
-webkit-box-shadow: 10px 0px #0e5877;
-moz-box-shadow: 10px 0px #0e5877;
}
