body {
font-family:Arial, san-serif;
color:#fff;
line-height:1em;
font-size:15px
}

strong {
font-weight:bold
}

/* panes */

.pane {;
  width:630px;
  height:405px;
  background:#0c84b0;
  box-shadow: 5px 5px 0 5px #0e5877;
  border-radius: 5px;
  border-top-left-radius: 0;
  margin:0 0 50px 0
}

/* tabs */

#tabs {
display:block
}

#question.pane, #coupon.pane, #fail.pane{
    display:none;
}


#tabs li {
color:#c5c5c5;
float:left;
width:150px;
padding:10px 0;
background:#979797;
display:block;
margin:0 15px 0 0;
text-align:center;
font-weight:bold;
box-shadow: 10px 0px #4d4d4d;
border-radius: 10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

#tabs li.current {
color:#fff;
background:#0c84b0;
box-shadow: 10px 0px #0e5877;
}

/* video */

#video .player {
width:560px;
height:315px;
float:left;
margin:35px 35px 20px 35px;
box-shadow: 3px 3px 7px #333;
}

#video .fb-like {
width:60px;
float:left;
margin:0 0 0 35px
}

#video h3 {
text-align:right;
margin: 0 35px 0 0;
}

#video h3 span {
font-weight:bold;
font-size:20px;
}

/* pytanie */

#question  .btn {
background:#ff7f00;
}

#question .btn:hover {
background:#E73C00
}

/* wygrana */

#coupon p {
text-align:center;
line-height:1.5em
}

#coupon .btn {
background: #00bf00;
margin-top:20px;
font-size:20px;
font-weight:bold
}

#coupon .btn:hover {
background:#039b03
}

/* przyciski */

.btn {
display:block;
margin:5px 20%;
float:left;
width:60%;
text-align:center;
padding:10px;
border-radius: 10px;
color:#fff;
text-decoration:none;
box-shadow:1px 1px #333
}

/* naglowki */

h2 {
text-align:center;
font-size: 28px;
font-weight:bold;
margin:60px auto 30px;
display:block;
float:left;
width:100%;
letter-spacing:1px;
line-height:1.2em;
text-shadow:1px 1px #333
}

/* share */

.share h3 {
text-align:center;
margin:35px auto 20px;
display:block;
float:left;
width:100%
}

.share .fb-like {
width:60px;
margin:0 auto;
display:block
}

.share.fb-page .fb-like {
width:450px
}

/* clear */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

