<div class="clear"></div>  

<div class="share">
  <h3><strong>PROBLEM?</strong> ZAPYTAJ TERAZ SWOICH PRZYJACIÓŁ:</h3>
  <div class="fb-like">
    <a name="fb_share" type="button_count" share_url="<%= @quiz.landing_page %>">Udostępnij</a> 
  </div>
</div>  
