<div class="clear"></div>  

<div class="share">
  <h3><strong>PROBLEM?</strong> ZAPYTAJ TERAZ SWOICH PRZYJACIÓŁ:</h3>
  <div class="fb-like" data-href="<%= @quiz.landing_page %>" data-send="false" data-layout="button_count" data-width="60" data-show-  
  faces="false"></div>
  </div>  
