<h2>Brawo</h2>

<p>Zapisz się do newslettera żeby otrzymać></p>

<%= simple_form_for([@quiz, Win.new]) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :email, :autofocus => true, :label => false, :input_html => {:placeholder => t("play.default_mail")} %>
    </div>

    <div class="actions">
      <%= f.button :submit, t("play.send_coupon") %>
    </div>
<% end %>


