<!-- Secondary navigation -->
<nav id="secondary">
  <ul>
    <li class="current"><%= link_to "Dodaj Quiz", new_quiz_path %></li>
  </ul>
</nav>
          
<!-- The content -->
<section id="content">

<h2>Dodaj Quiz</h2>

<%= render 'form' %>

</section>
