<% title "Podgląd" %>

<%= render :partial => "quizzes/shared/nav" %>
          
<!-- The content -->
<section id="content">

  <div class="tab" id="maintab" style="display: block; height:550px">

<h2><%= yield(:title) %></h2>

<div class="column left third">
  <h3>Instrukcje</h3>
  <p>Wklej poniższy kod na dowolnej stronie internetowej.</p>
  <pre>&lt;iframe src="<%= play_quiz_url(@quiz) %>" width="640" height="470" frameborder="0"&gt;&lt;/iframe&gt;</pre>
</div>

<div class="column right twothird">
  <div style="padding-left:40px">
    <iframe src="<%= play_quiz_path(@quiz) %>" width="640" height="470" frameborder="0"></iframe>
  </div>
</div>

</div>


</section>




