body {
font-family:Arial, sans-serif;
color:#555;
background:#fff;
line-height:1em;
font-size:16px;
overflow:hidden
}

/* panes */

.pane {;
  width:640px;
  height:400px;
  border:1px solid #666;
  margin:10px;
  padding:5px
}

#video.pane, #finish.pane, .buttons_menu, .question {
    display:none;
}

.fb-like.welcome {
         margin:         0 auto

}

/* pytanie */

h2 {
  text-align:center;
  font-size: 28px;
  margin:60px auto 30px;
  display:block;
  float:left;
  width:100%;
  letter-spacing:1px;
  line-height:1.2em;
}

.btn {
display:block;
margin:5px 20%;
float:left;
width:60%;
text-align:center;
padding:10px;
border-radius: 10px;
color:#fff;
text-decoration:none;
background:#ff7f00;
}

.btn:hover {
background:#E73C00
}



