  <div class="buttons">
    <a class="once_again" href="#">Jeszcze raz</a>
    <a class="fb" target="_blank" href="http://www.facebook.com/sharer.php?u=http://vistula.edu.pl">Podziel się</a>
    <a class="offer_for_you" target="_blank" href="htpp://vistula.edu.pl">Aplikuj</a>
  </div>
