  <div class="buttons">
    <a class="once_again" href="#">Jeszcze raz</a>
    <a class="fb" target="_blank" href="http://www.facebook.com/sharer.php?u=<%= @ivideo.landing_page %>">Podziel się</a>
    <a class="offer_for_you" target="_blank" href="<%= @ivideo.landing_page %>">Aplikuj</a>
  </div>
