<% unless cookies["ucc_#{@ivideo.id}"]%>
<h2><%= @question.text %></h2>

<ul id="answer_links">
  <li><%= link_to @question.answer_1, check_answer_quiz_url(@ivideo, :question_id=> @question.id, :answer=>1), :class => "btn" %></li>
  <li><%= link_to @question.answer_2, check_answer_quiz_url(@ivideo, :question_id=> @question.id, :answer=>2), :class => "btn"  %></li>
  <li><%= link_to @question.answer_3, check_answer_quiz_url(@ivideo, :question_id=> @question.id, :answer=>3), :class => "btn"  %></li>
</ul>

<script type="text/javascript">
    $("#answer_links a").live("click", function() {
        $.post($(this).attr("href"), function(data) {
            //alert(data['response']);
        });
        return false;
    })
</script>
<% else%>
  <h2>Wykorzystano już dzisiejszą szansę.<br />Spróbuj ponownie jutro.</h2>
<% end%>
