<% title "Edytuj Profil" %>

<!-- Secondary navigation -->
<nav id="secondary">
  <ul>
    <li class="current"><%= link_to yield(:title), edit_user_path(@user) %></li>
  </ul>
</nav>
          
<!-- The content -->
<section id="content">

<h2><%= yield(:title)%></h2>

<%= render 'form' %>
      
</section>
